Source: libatlassian-crowd-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 5)
Build-Depends-Indep: perl (>= 5.6.10-12)
Maintainer: Andrew Reid <support@atlassian.com>
Standards-Version: 3.8.0
Homepage: http://search.cpan.org/dist/Atlassian-Crowd/

Package: libatlassian-crowd-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libsoap-lite-perl (>= 0.69), liberror-perl (>= 0.1)
Description:  Perl bindings for Atlassian Crowd SOAP API
 Currently implemented:
 .
 authenticate_app($serverURL, $app_name, $app_credential)
 authenticate_principal($serverURL, $app_name, $appToken, $principal_name, $principal_credential)
 is_group_member($serverURL, $app_name, $appToken, $group_name, $principal_name)
 find_group_memberships($serverURL, $app_name, $appToken, $principal_name)
 .
 This description was automagically extracted from the module by dh-make-perl.
