Source: libapache-crowdauth-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 5)
Build-Depends-Indep: perl (>= 5.6.10-12)
Maintainer: Andrew Reid <support@atlassian.com>
Standards-Version: 3.8.0
Homepage: http://search.cpan.org/dist/Apache-CrowdAuth/

Package: libapache-crowdauth-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libsoap-lite-perl (>= 0.69), liberror-perl, libdigest-sha1-perl, libcache-cache-perl (>= 1.05)
Description:  Apache authentication handler that uses Atlassian Crowd.
 This Module allows you to configure Apache to use Atlassian Crowd to 
 handle basic authentication.
 .
 See http://confluence.atlassian.com/x/rgGY
 .
 for full documentation.
 .
 This description was automagically extracted from the module by dh-make-perl.
